/* app css stylesheet */
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);
body {
   background-color: #5dace9;
}
h1, h2, h3 {
    font-family: 'Archivo Narrow', sans-serif;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.banner {
    background-color: #0074cd;
    color: #FFF;
    height: 100px;
}
.banner h1 {
    font-size: 50px;
    line-height: 50px;
}
.main-frame {
    background-color: #FFF;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-top: -30px;
}
.search-box {
    line-height: 50px;
    background-color: #333;
    color: #FFF;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.search-box label {
    font-weight: bold;
    margin-left: 10px;
}
